<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
    <context:property-placeholder location="classpath:musicPlayer.properties"></context:property-placeholder>

    <bean id="musicBean"
        class="springCore.ru.alishev.springCourse.ClassicalMusic"
        init-method="doMyInit"
        destroy-method="doMyDestroy"
        factory-method="getClassicalMusic">
    </bean>

	<bean id="musicPlayer"
		  class="springCore.ru.alishev.springCourse.MusicPlayer"
		  scope="prototype">
		<!-- тэг назначает значение для сеттера -->
		<property name="music" ref="musicBean"></property>
		
		<!-- 
		<property name="name" value="Some name"></property>
		<property name="volume" value="50"></property>
		-->
		<property name="name" value="${musicPlayer.name}"></property>
		<property name="volume" value="${musicPlayer.volume}"></property>
		
	</bean>
</beans>