<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="musicBean"
        class="springCore.ru.alishev.springCourse.ClassicalMusic">
    </bean>

	<!-- внедрим зависимость с помощью spring framework
		 внутрь этого бина уже будет внедрена зависимость musicBean -->
	<bean id="musicPlayer"
		  class="springCore.ru.alishev.springCourse.MusicPlayer">
		  <constructor-arg ref="musicBean"></constructor-arg>
		
	</bean>
</beans>